* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* Very dark charcoal cool gray */
    background-color: #0d0e10;
}

@import "tailwindcss";